// TODO: Find a way to make it publicly available.
@mixin textLinearGradient($angle, $from, $to) {
  background: linear-gradient($angle, $from, $to);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.article {

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    line-height: 2.6875rem; 
    font-weight: bold;
    padding-bottom: 1.8125rem;
    text-align: center;

    &--theme-blue {
      @include textLinearGradient(30deg, #00DBCC, #8139FF);
    }

    &--theme-green {
      @include textLinearGradient(30deg, #00E91F, #00AEC9);
    }
  }

  &__text-group {
    max-width: 1000px;
    width: 100%;
    padding-bottom: 7.375rem;
  }

  &__text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 300;
    text-align: center;
    color: #2A2A2A;
  }

  &__contact-button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
    line-height: 1.6875rem;
    font-weight: bold;
    color: #fff;
    background-color: #181818;
    padding: 0.875rem 1.6875rem;
    border-radius: 0.625rem;

    &--theme-purple {
      background: linear-gradient(20deg, #ED43FF, #7444FE);
    }

    &--theme-blue {
      background: linear-gradient(20deg, #00DBCC, #9153FF);
    }

    &--theme-green {
      background: linear-gradient(20deg, #00E91F, #00AEC9);
    }
  }
}