.showcase {
  padding-top: 5.75rem;
  padding-bottom: 2.375rem;

  &__image-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  &__image {
    max-width: 70%;
    margin: 0 auto;
  }

  @media (min-width: 468px) {
    & {
      padding-top: 8.375rem;
    }

    &__image-list {
      flex-direction: initial;
    }

    &__image-wrapper:not(:first-of-type) {
      padding-right: 4.1875rem;
    }
  }

  @media (min-width: 756px) {
    &__image-wrapper:not(:first-of-type) {
      padding-right: 8.375rem;
    }
  }
}
