.contact-form {
  grid-row: 2;

  &__title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: bold;
    color: #2E2E2E;
    padding-bottom: 0.5rem;
  }

  &__main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;

    // react-components:form styles
    .Label {
      font-family: 'Ubuntu', sans-serif;
      font-size: 1.125rem;
      line-height: 1.5rem;
      color: #2E2E2E;
      padding-bottom: 0.5rem;
    }

    .Label,
    .Input:not(.Submit):not(.Textarea):not([type="checkbox"]) {
      flex-basis: 41.4%;
    }

    .Input:not(.Submit):not(.Textarea):not([type="checkbox"]) {
      height: 40px;
    }

    .Input:not(.Submit):not([type="checkbox"]) {
      border-radius: 10px;
      border: 1px solid #9E9E9E;
      outline: none;
      padding: 0 1rem;
      margin-bottom: 1.625rem;
    }

    .Input[type="checkbox"] {
      margin-left: 1rem;
      margin-bottom: 0.5rem;
    }

    .Textarea {
      flex-basis: 100%;
    }

    .Submit {
      cursor: pointer;
      border: none;
      padding: 0.875rem 3rem;
      margin: 2.8125rem auto 0 auto;
      border-radius: 0.625rem;
      background: linear-gradient(45deg, #55D500, #C9C900);
      font-family: 'Ubuntu', sans-serif;
      font-size: 1.25rem;
      line-height: 1.6875rem;
      font-weight: bold;
      color: #fff;
    }

    .Label:nth-of-type(8),
    .Label:nth-of-type(9) {
      flex-basis: calc(100% - 2rem);
    }

    .Input:nth-of-type(7),
    .Input:nth-of-type(8) {
      flex-basis: 1rem;
    }

    // react-components:form styles:order
    .Label:nth-of-type(1),
    .Label:nth-of-type(2) {
      order: -8;
    }

    .Input:nth-of-type(1),
    .Input:nth-of-type(2) {
      order: -7;
    }

    .Label:nth-of-type(3),
    .Label:nth-of-type(4) {
      order: -6;
    }

    .Input:nth-of-type(3),
    .Input:nth-of-type(4) {
      order: -5;
    }

    .Label:nth-of-type(5),
    .Label:nth-of-type(6) {
      order: -4;
    }

    .Input:nth-of-type(5),
    .Input:nth-of-type(6) {
      order: -3;
    }

    .Label:nth-of-type(7) {
      order: -2;
    }

    .Textarea {
      order: -1 !important;
    }

    .Label:nth-of-type(8),
    .Input:nth-of-type(8) {
      order: 1;
    }

    .Label:nth-of-type(9),
    .Input:nth-of-type(9) {
      order: 2;
    }

    .Submit {
      order: 4;
    }
  }

  @media (min-width: 822px) {
    & {
      grid-row: initial;
    }
  }
}