.nav-sub {
  &__main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;

    position: relative;

    padding: 0 2.5rem;
  }

  &__link {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: bold;
    color: #2E2E2E;

    &--roily {
      display: none;
      font-size: 1.125rem;
      line-height: 2.3125rem;
      color: #B9B9B9;
      filter: blur(3px);
    }

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: calc(100% + 0.5rem);
        left: 50%;
        width: 122px;
        height: 7px;
        border-radius: 10px;
        background: transparent;
        transform: translateX(-50%);
      }
    }

    &--yellow::after  {
      background: linear-gradient(45deg, #FF2C00, #FFE600);
    }

    &--purple::after  {
      background: linear-gradient(15deg, #9D7BFF, #F275FF);
    }

    &--blue::after  {
      background: linear-gradient(15deg, #8139FF, #00DBCC);
    }

    &--green::after  {
      background: linear-gradient(15deg, #00DBFE, #00E91F);
    }
  }

  &__chevron {
    font-size: 1.5rem;
    color: #6B6B6B;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }

  @media (min-width: 426px) {
    &__link {
      font-size: 1.75rem;
      line-height: 2.5rem;
    }
  }

  @media (min-width: 576px) {
    &__main {
      grid-template-columns: repeat(3, 1fr);
      margin-top: 2.5rem;
    }

    &__link {
      &--roily {
        display: initial;
      }
    }
  }

  @media (min-width: 992px) {
    &__link {
      font-size: 3.75rem;
      line-height: 5rem;

      &--roily {
        font-size: 2.5rem;
        line-height: 3.3125rem;
      }
    }
  }
}