.job-offer {
  background-color: #242424;
  padding-top: 2.8125rem;
  padding-bottom: 1.625rem;

  &__main {
    display: flex;
    align-items: center;

    & > * + * {
      margin-right: 1.25rem;
    } 
  }
}