.job-offer {
  background-color: #242424;
  padding-top: 2.8125rem;
  padding-bottom: 1.625rem;

  &__main {

    & > * + * {
      margin-top: 1.125rem;
    }

    @media (min-width: 1104px) {
      & {
        display: flex;
        align-items: center;
      }

      & > * + * {
        margin-top: 0;
        margin-right: 1.125rem;
      }
    }
  }
}