.header {
  background-color: #fff;
  padding: 0.75rem 0;

  &--theme-light {
    background-color: #fff;

    .nav__link {
      color: #AEABAB;

      &--active {
        color: #000000;
      }
    }

    .mobile-menu-switch {
      &__icon {
        color: #707070;
      }
    }
  }

  &--theme-gray {
    background-color: #707070;
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}