.header {
  background-color: #fff;
  padding: 0.75rem 8.75rem;

  &--theme-light {
    background-color: #fff;
  }

  &--theme-gray {
    background-color: #707070;
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}