.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.25rem;
  padding: 1rem 0.5rem;
  transition: box-shadow 0.5s ease-in-out;

  &:hover {
    box-shadow: 0 1.25rem 2.5rem rgba(#000, 0.2);
  }

  &__title,
  &__text {
    font-family: "Roboto", sans-serif;
    color: #000;
  }

  &__title {
    font-size: 1.25rem;
    line-height: 1.625rem;
    font-weight: bold;

    display: inline-block;
    padding-bottom: 2rem;
  }

  &__text {
    font-size: 1rem;
    line-height: 1.3125rem;
    font-weight: 500;
    text-align: center;

    padding-top: 2.875rem;
    padding-bottom: 0;

    max-width: 242px;
    width: 100%;
  }
}
