.teammate {
  font-family: "Ubuntu", sans-serif;
  max-width: 344px;
  text-align: center;

  &__position {
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ff5700;
    padding-top: 1.125rem;
    padding-bottom: 0.25rem;
  }

  &__text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #2a2a2a;
    padding-bottom: 0;
  }

  @media (min-width: 576px) {
    &__position {
      font-size: 2.4375rem;
      line-height: 3.25rem;
    }

    &__text {
      font-size: 1rem;
      line-height: 1.375rem;
    }
  }
}
